name: Go Lint

on:
  workflow_dispatch:
  push:
env:
  GOPRIVATE: "github.com/sourcegraph/*"
  PRIVATE_TOKEN: "${{ secrets.PRIVATE_SG_ACCESS_TOKEN }}"

jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@faf52423ec0d44c58f68e83b614bfcd99dded66f
        with:
          go-version-file: '.tool-versions'
      - name: Enable pulling Go modules from private sourcegraph/sourcegraph
        run: git config --global url."https://${PRIVATE_TOKEN}@github.com/sourcegraph/".insteadOf "https://github.com/sourcegraph/"
      - run: ./dev/go-lint.sh
