name: Go Lint

on:
  workflow_dispatch:
  push:
env:
  GOPRIVATE: "github.com/sourcegraph/*"
  PRIVATE_TOKEN: "${{ secrets.PRIVATE_SG_ACCESS_TOKEN }}"

jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get Go version from mise
        id: mise
        run: echo "go-version=$(grep 'golang' mise.toml | cut -d'"' -f2)" >> $GITHUB_OUTPUT
      - name: Set up Go
        uses: sourcegraph/actions/go-setup@main
        with:
          go-version: ${{ steps.mise.outputs.go-version }}
          private-token: ${{ secrets.PRIVATE_SG_ACCESS_TOKEN }}
      - run: ./dev/go-lint.sh
