name: GoReleaser check

on:
  push:
  workflow_dispatch:
env:
  GOPRIVATE: "github.com/sourcegraph/*"
  PRIVATE_TOKEN: "${{ secrets.PRIVATE_SG_ACCESS_TOKEN }}"

jobs:
  goreleaser:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.5
      - name: Check GoReleaser config
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: check
