name: GoReleaser check

on:
  push:
  workflow_dispatch:
jobs:
  goreleaser:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get Go version from mise
        id: mise
        run: echo "go-version=$(grep 'golang' mise.toml | cut -d'"' -f2)" >> $GITHUB_OUTPUT
      - name: Set up Go
        uses: sourcegraph/actions/go-setup@main
        with:
          go-version: ${{ steps.mise.outputs.go-version }}
      - name: Check GoReleaser config
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: check
